@import "./variables";

* {
	font-family: $font-regular, sans-serif;
}

.fw-regular {
	font-family: $font-regular, sans-serif;
}

.fw-bold {
	font-family: $font-bold, sans-serif;
}


/*******************************
 *  Header 
 *******************************/

@import "./header.scss";


/**************
 * containerArea
 **************/


#containerArea {
	height: 100%;
	max-height: 1400px;
	padding-top: 180px;
	min-height: 600px;

	svg {
		transform: scale(1.27);
		min-width: 100%;
		min-height: 100%;
		z-index: 0;
	}


	.content {
		z-index: 1;
		top: 50%;
		left: 12%;
	}

	.content h1 {
		font-size: 72px;
		line-height: 60px;
	}

	.content h2 {
		font-size: 31px;
		line-height: 32px;
	}

	.content p {
		font-size: 20px;
		line-height: 22px;
		margin-bottom: 20px;
		display: block;
	}

	.content .btn {
		font-size: 19px;
		padding: 8px 16px;
		border: 2px solid $blue;
		color: $blue;
	}
}

/**************
 * Footer
 **************/

@import "./footer";
