/*******************************
 *  Header 
 *******************************/


.headerContact {
	&:after {
		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: $blue;
		transition: all .30s;
	}

	span {
		position: relative;
		z-index: 2;
	}
}

.headerContact:hover {
	color: #fff !important;
}

.headerContact:hover:after {
	width: 100%;
}

.navbar-light .navbar-toggler {
	border: 2px solid $blue;

	color: rgba($blue , 0.4) !important;

	svg {
		fill: $blue-dark;
	}

}

@media (max-width:991.98px) {
	#navbarNav {
		background: $blue-light-2;

		.navbar-nav {
			padding: 18px 28px 32px 28px;
		}
	}
}

.mobile {
	#navbarNav {
		background: $blue-light-2;

		.navbar-nav {
			padding: 18px 28px 32px 28px;
		}


	}
}
