@import "./variables";

* {
	font-family: $font-regular, sans-serif;
}

.fw-regular {
	font-family: $font-regular, sans-serif;
}

.fw-bold {
	font-family: $font-bold, sans-serif;
}



/*******************************
 *  Header 
 *******************************/

@import "./header.scss";

/**************
 * Section 1
 **************/

#section1 {
	margin-top: 60px;
	margin-bottom: 180px;
	width: 100%;
	display: flex;
	flex-direction: column;

	.blogTitleArea {
		padding: 130px 0 130px 0px;

		&::before {
			content: " ";
			height: 100%;
			width: 100%;
			background: $green-light-4 ;
			position: absolute;
			top: 0;
			display: block;
			z-index: -1;
			animation: backAnimation 0.8s ease 1s both;
		}

		@keyframes backAnimation {

			0% {
				width: 0;
			}

			100% {
				width: 100%;
			}

		}

		h2 {

			span.text {
				font-size: 96px;
				padding-left: 60px;
			}

			span.line {
				width: 100%;
				height: 4px;
				display: block;
				background: $black;
				position: relative;
				right: 0;
				left: 0;
				margin: auto;
				bottom: 0;
				top: 0;
				margin: auto 80px auto auto;

				.linejr-1 {
					height: 300px;
					position: absolute;
					width: 4px;
					display: block;
					background: black;
					right: 0;
					z-index: 2;
				}
			}

			.linejr-2 {
				height: 4px;
				width: calc(79% - 80px);
				background: #000;
				bottom: -241px !important;
				right: 80px;



				.linejr-3 {
					height: 90px;
					width: 4px;
					background: $black;

					.linejr-4 {
						height: 40px;
						width: 4px;
						background: $black;
						transform: rotate(-45deg);
						bottom: -4px !important;
						left: -15px !important;
					}
				}
			}

			@media (min-width: 1200px) and (max-width: 1500px) {
				.linejr-2 {
					width: calc(84% - 80px);
				}
			}

			@media (min-width: 1900px) and (max-width: 2399px) {
				.linejr-2 {
					width: calc(74% - 80px);
				}
			}

			@media (min-width: 2400px) and (max-width: 3099px) {
				.linejr-2 {
					width: calc(68% - 80px);
				}
			}

			@media (min-width: 3100px) {
				.linejr-2 {
					width: calc(64% - 80px);
				}
			}
		}
	}

	.bottomRight {
		width: 320px;
		height: 410px;
		background: #A4F4F0;
	}

	.bottomRightText {

		width: 650px;
		height: 320px;
		background: #A4F4F0;
		position: absolute;
		bottom: 0;

		p {
			font-size: 20px;
			line-height: 26px;

		}
	}

}


/**************
 * Section cvContent
 **************/

#cvContent {
	margin: 80px 0 300px 0;
	display: inline-flex;
	width: 100%;

	.inputElement {
		label {
			font-size: 25px;
			line-height: 28px;
		}

		input {
			border: 2px dashed $blue-border;
			background: $blue-light-2  !important;
			outline: none;
			height: 64px;
			color: $blue;
			font-size: 20px;
			line-height: 23px;

			&::placeholder {
				color: $blue;
			}
		}

		textarea {
			border: 2px dashed $blue-border;
			background: $blue-light-2  !important;
			outline: none;
			color: $blue;
			font-size: 20px;
			line-height: 23px;
			padding: 18px;

			&::placeholder {
				color: $blue;
			}
		}


		.fileInput {
			border: 2px dashed $blue-border;
			background: $blue-light-2  !important;
			outline: none;
			height: 64px;
			color: $blue;
			font-size: 20px;
			line-height: 23px;


			&:focus {
				box-shadow: none;
			}

			.fileButton {
				background: $blue;
				color: $white;
				font-size: 16px;
				border: none;
			}
		}


		.form-control:focus {
			box-shadow: none;
		}
	}

	.radioElement {

		label {
			font-size: 25px;
			line-height: 26px;
		}

		input {
			border: 1px solid $blue-border;
			outline: none;
			color: $blue;
			font-size: 20px;
			line-height: 23px;
			width: 30px;
			height: 30px;
			transform: translateY(-6px);
			margin-right: 10px;

			&:focus {
				box-shadow: none;
			}
		}

		input:checked {
			background: $blue;
		}

	}

	.submitButton {
		margin-top: 30px;

		a {
			position: relative;
			padding: 11px 24px;
			color: $contact-submit-blue ;
			border: 2px solid $contact-submit-blue ;
			display: inline-block;

			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background: $contact-submit-blue ;
				transition: all .30s;
			}

			&:hover::after {
				transition: all .30s;
				width: 100%;

			}

			&:hover {
				color: #fff;
				transition: all .30s;
			}

			span {
				position: relative;
				z-index: 4;
				font-size: 16px;
				line-height: 19px;
				font-weight: 800;
			}
		}
	}


}

/**************
 * Cupe
 **************/

#cupe {

	.cupeArea {
		left: 24%;
		width: 500px;
		top: -450px;
		height: 500px;
		z-index: -4;

		.cupe-2 {
			position: absolute;
			right: -30px;
			top: 90px;
		}
	}

	@media (min-width: 1200px) and (max-width:1600px) {
		.cupeArea {
			left: 18%;
		}
	}

	@media (min-width: 2500px) and (max-width:3200px) {
		.cupeArea {
			left: 32%;
		}
	}

	@media (min-width: 3200px) {
		.cupeArea {
			left: 38%;
		}
	}
}

/**************
 * Footer
 **************/

@import "./footer";

/**************
 * Responsive
 **************/

@media (min-width: 768px) and (max-width: 991.98px) {
	#section1 .blogTitleArea h2 .linejr-2 {
		bottom: -260px !important;
	}

	#section1 .blogTitleArea h2 span.text {
		font-size: 64px;
		padding-left: 40px;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#section1 .blogTitleArea h2 .linejr-2 {
		bottom: -260px !important;
	}

	#section1 .blogTitleArea h2 span.text {
		font-size: 64px;
		padding-left: 40px;
	}

	#cupe .cupeArea {
		left: 0;
		right: 0;
		margin: 0 auto
	}


}

@media (max-width: 575.98px) {

	body {
		overflow-x: hidden;
	}

	#section1 {
		margin-bottom: 100px;
	}

	#section1 .blogTitleArea {
		padding: 80px 0 80px 0px;
	}

	#section1 .blogTitleArea h2 span.text {
		font-size: 34px;
		padding-left: 16px;
	}

	#section1 .blogTitleArea h2 span.line {
		margin: auto 20px auto auto;
	}

	#section1 .blogTitleArea h2 span.line .linejr-1 {
		height: 160px;
	}

	#section1 .blogTitleArea h2 .linejr-2 {
		bottom: -140px !important;
		right: 20px;
		width: calc(79% - 20px);
	}

	#cupe .cupeArea {
		left: 0;
	}
}
