@import "./variables";

* {
	font-family: $font-regular, sans-serif;
}

.fw-regular {
	font-family: $font-regular, sans-serif;
}

.fw-bold {
	font-family: $font-bold, sans-serif;
}

.fw-extrabold {
	font-family: $font-extrabold, sans-serif;
}



body {
	overflow-x: hidden;
}

/*******************************
 *  Header 
 *******************************/

@import "./header.scss";

/**************
 *  Section 1
 **************/


#section1 {
	.backAnimation {
		width: 0;
		transition: all 0.8s;
	}

	.backAnimation {
		background: $blue;
		height: 100%;
		top: 0;
		z-index: -1;
		animation: backAnimation 0.8s ease 1s both;
	}

	@keyframes backAnimation {

		0% {
			width: 0;
		}

		100% {
			width: 100%;
		}

	}

	.backAnimationRight {
		width: 313px;
		background: $blue;
		display: inline-flex;
		z-index: -1;
		animation: backAnimationRight 0.8s ease 1.8s both;
		top: 0;

	}

	@keyframes backAnimationRight {

		0% {
			height: 0;
		}

		100% {
			height: 285px;
		}
	}

	.section1Middle {
		min-height: 285px;
	}


	h2 span {
		font-size: 96px;
	}

	h2 {
		padding-left: 4rem;
	}

	.backColor {
		background: $blue;
		width: 100%;
		height: 100%;
		height: auto;
		padding: 20px 0;
		right: 0;
	}

	span.line {
		width: calc(100% - 800px);
		height: 4px;
		top: 0;
		left: 0;
		display: block;
		background: $black;

		.linejr-1 {
			height: 356px;
			position: absolute;
			width: 4px;
			display: block;
			background: black;
			right: 0;

			.linejr-2 {
				height: 4px;
				width: 40px;
				right: -4px;
				background: black;
				transform: rotate(45deg);
				bottom: 14px !important;
			}

			.linejr-3 {
				height: 4px;
				width: 100%;
				right: -7px;
				background: black;
				transform: rotate(45deg);
				bottom: 16px !important;
			}
		}
	}

	.section1Row {
		margin-right: 220px !important;
	}

	span.line2 {
		width: calc(100% - 515px);
		height: 4px;
		right: 150px;
		display: block;
		background: $black;
		bottom: -60px;

		.linejr-1 {
			height: 60px;
			position: absolute;
			width: 4px;
			display: block;
			background: black;
			left: 0;
		}

		.linejr-2 {
			height: 40px;
			width: 4px;
			display: block;
			background: black;
			left: -13px;
			transform: rotate(320deg);
			top: 23px;
		}
	}


}


/**************
 *  Section 2
 **************/

#section2 {
	min-height: 285px;
	width: 100%;

	.section2Row1 {
		margin-left: 220px !important;
	}

	.backColor {
		position: relative;
		width: 100%;
		height: 100%;
		height: auto;


		&::before {
			content: " ";
			background: $green-light-2;
			position: absolute;
			display: block;
			width: 0;
			height: 100%;
			animation: backColor 0.8s ease 3.2s both;
			top: 0;
		}

		@keyframes backColor {
			0% {
				width: 0;
			}

			100% {
				width: 100%;

			}
		}

		.backAnimationLeft {
			top: -285px;
			width: 313px;
			background: $green-light-2;
			height: 0;
			z-index: -2;
			animation: backAnimationLeft 0.7s ease 2.6s both;
		}

		@keyframes backAnimationLeft {

			0% {
				height: 0;
			}

			100% {
				height: 613px;
			}
		}
	}

	.container-fluid {
		min-height: 285px;
	}

	.cardArea {
		.cardTop {
			width: 100%;
			height: 100%;
			max-width: 580px;
			background: #CCCCFF;
			border: 3px solid #9999FF;
			padding: 32px;
			position: relative;
			z-index: 3;
			transition: all .3s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:hover {
				transform: translate(-20px, -20px);
				transition: all .3s;
			}

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
			}

			p {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 30px;
			}


			.cardButton {
				a {
					position: relative;
					padding: 11px 24px;
					color: rgba(153, 153, 255, 0.8);
					border: 2px solid rgba(153, 153, 255, 0.8);
					display: inline-block;

					&::after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						background: rgba(153, 153, 255, 0.8);
						transition: all .30s;
					}

					&:hover::after {
						transition: all .30s;
						width: 100%;

					}

					&:hover {
						color: #fff;
						transition: all .30s;
					}

					span {
						position: relative;
						z-index: 4;
						font-size: 16px;
						line-height: 19px;
						font-weight: 800;
					}
				}
			}
		}

		.cardBottom {
			position: absolute;
			top: 0;
			width: 100%;
			max-width: 580px;
			height: 100%;
			background: #E5E5FF;
			border: 3px dashed $blue;
			padding: 32px;

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
			}

			p {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 30px;
			}
		}
	}

	.cardArea-1 {
		margin-left: -90px;
		transform: translateY(-80px);
	}

	.cardArea-2 {
		transform: translateY(-80px);
		margin-right: 100px;
		margin-left: 114px;
	}
}

/**************
* Section 3
**************/

#section3 {
	min-height: 920px;

	.sectionTitle {
		z-index: 9;
		margin-top: 88px;
	}

	.section3RightColor {
		min-height: 0%;
		background: $blue;
		width: 328px;
		right: 0;
		z-index: -1;
		transition: min-height 2.3s ease;
		max-height: 1213px;
	}

	&.active .rightColor {
		min-height: 100%;
		transition: min-height 2.3s ease;

	}

	.middleColor {
		min-height: 270px;
		background: $red;
		width: 316px;
		display: block;

		.title {
			margin-right: 280px;

			h2 {
				position: relative;
				background: #FD8289;
				z-index: 10;
				padding: 30px 50px;
				font-size: 30px;
				line-height: 34px;
				font-weight: 800;
				transition: all .3s;
				color: $black
			}

			span {
				width: 100%;
				height: 100%;
				background: transparent;
				border: 3px dashed rgba(253, 130, 137, 0.75)
			}

			&:hover h2 {
				transform: translate(-18px, -18px);
				transition: all .3s;
			}
		}
	}

	.line {
		max-height: 454px;


		svg {
			width: 100%;
			max-height: 440px;
		}
	}



	.cardArea {

		.middleColor2 {
			padding: 70px 0;
		}

		.middleColor2::before {
			position: absolute;
			overflow: hidden;
			min-height: 100%;
			background: $red;
			width: 100%;
			right: 0;
			top: 0;
			display: block;
			content: " ";
			z-index: -1;

		}

		.section3Card {
			min-height: 240px;

			h2 {
				font-weight: 800;
			}

			p {
				font-weight: 300;
			}

		}
	}

	.line2 {
		width: 46%;
		height: 4px;
		background: #000;
		position: absolute;
		right: 235px;
		bottom: -55px;

		.linejr-3 {
			width: 4px;
			height: 97px;
			background: #000;
			position: absolute;
			left: 0;
			bottom: 0;
		}

		.linejr-4 {
			width: 4px;
			height: 40px;
			background: #000;
			position: absolute;
			left: -13px;
			top: -3px;
			transform: rotate(40deg);
		}
	}


}

/**************
* Section 4 / Section 3 içerisinde
**************/

#section4 {
	padding: 0 220px 0 304px;
	margin-top: 272px;

	&::after {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		width: 0%;
		height: 100%;
		background: $blue;
		z-index: -1;
		transition: width .8s ease;
	}

	&.active::after {
		width: 100%;
		transition: width .8s ease;
	}


	.sectionTitle {
		padding: 40px 0 60px 0;


		.title {
			h2 {
				.h2title {
					font-size: 72px;
					font-weight: 800;
					color: $white;
				}
			}

			p {
				color: $white;
				max-width: 800px;
			}

			.line {
				width: 100%;
				height: 4px;
				background: $black;

				.linejr-1 {
					width: 4px;
					height: 410px;
					background: $black;
					bottom: 0px;
					right: 0;

				}

				.linejr-2 {
					width: 4px;
					height: 40px;
					background: #000;
					right: 13px;
					position: absolute;
					bottom: 373px;
					transform: rotate(40deg);
				}

			}


		}

		&:hover .title {
			h2 {
				color: $white;
			}

			p {
				color: $white;
			}
		}
	}

	.line {

		.line-1 {
			position: relative;
			top: -365px;
			right: -742px;
		}

		.line-2 {
			position: relative;
			top: -444px;
			right: -370px;
		}

	}
}


/**************
* Section 5 ve Section 6 Wrapper
**************/

.sec5-6-wrapper {
	.leftArea {
		height: 100%;
		width: 304px;


		.section5_6_wrapperColor {
			height: 0%;
			width: 304px;
			position: absolute;
			background: $blue;
			top: 0;
			z-index: -1;
		}

		.line {
			height: 100%;
			display: flex;
			justify-content: center;
			transform: translate(0, -150px);

			.line-1 {
				width: 4px;
				height: 42%;
				background: $black;
				position: relative;

				.line-1-1 {
					width: 350px;
					height: 4px;
					background: $black;
					bottom: 0px;
					left: 0;
					position: absolute;

					.linejr {
						position: absolute;
						right: 11px;
						width: 4px;
						height: 40px;
						background: #000;
						bottom: -4px;
						transform: rotate(-40deg);
					}
				}
			}
		}
	}

	.bottomColor {
		height: 304px;
		width: 0;
		position: absolute;
		background: $blue;
		bottom: 0;
		z-index: -1;

		&.active {
			width: 100%;
			transition: width 0.8s ease;
		}
	}


}

/**************
* Section 5
**************/

#section5 {
	padding-top: 120px;

	.leftLineButton {
		transform: translate(120px, -250px);
		z-index: 4;
	}

	.slick-list {
		padding: 0 80px 0 0 !important;
	}

	.title {
		h2 {
			font-size: 72px;
			font-weight: 800;
			color: $black;
		}
	}


	.carouselButton {
		padding-top: 970px;
		padding-left: 130px !important;

		span {
			width: 64px;
			height: 64px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border: 4px solid $black;
			border-radius: 50%;

			svg {
				width: 32px;
				height: 32px;
				stroke-width: 4px
			}
		}
	}

	.carousel_class {
		.cardArea {
			margin-top: 28px;

			.cardTop {

				width: 100%;
				height: 800px;
				background: #CCCCFF;
				border: 3px solid #9999FF;
				padding: 32px;
				position: relative;
				z-index: 3;
				transition: all .3s;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&:hover {
					transform: translate(-20px, -20px);
					transition: all .3s;
				}

				h3 {
					font-size: 37px;
					line-height: 44px;
					font-weight: 800;
					margin-bottom: 8px;
					letter-spacing: -2px;
				}

				img {
					width: 400px;
					max-height: 400px;
					object-fit: cover;
				}

				p {
					font-size: 20px;
					line-height: 23px;
					font-weight: 300;
				}


				.cardButton {

					a {
						position: relative;
						padding: 11px 24px;

						&::after {
							position: absolute;
							content: "";
							top: 0;
							left: 0;
							width: 0;
							height: 100%;
							transition: all .30s;
						}

						&:hover::after {
							transition: all .30s;
							width: 100%;

						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}

						span {
							position: relative;
							z-index: 4;
							font-size: 16px;
							line-height: 19px;
							font-weight: 800;
						}
					}
				}
			}

			.cardBottom {
				position: absolute;
				top: 0;
				width: 100%;
				height: 800px;
				padding: 32px;
			}


			&.cardColor-1 {
				.cardTop {
					background: #A4F4F0;
					border: 3px solid $green;

					.cardButton {
						a {
							color: rgba($green, 0.8);
							border: 2px solid rgba($green, 0.8);

							&::after {
								background: rgba($green, 0.8);
							}

							&:hover {
								color: #fff;
								transition: all .30s;
							}
						}
					}
				}

				.cardBottom {
					background: $green-light-3;
					border: 3px dashed $green;
				}
			}

			&.cardColor-2 {
				.cardTop {
					background: $red;
					border: 3px solid $red-border;

					.cardButton {
						a {
							color: rgba($red, 0.8);
							border: 2px solid rgba($red, 0.8);

							&::after {
								background: rgba($red, 0.8);
							}

							&:hover {
								color: #fff;
								transition: all .30s;
							}
						}
					}
				}

				.cardBottom {
					background: $red-light;
					border: 3px dashed $red;
				}
			}
		}

	}

	.wrap {
		width: 64px;
		height: 64px;
		overflow: hidden;
		border-radius: 75px;
		-webkit-border-radius: 75px;
		-webkit-transform: translateZ(0);
		-webkit-mask-image: -webkit-radial-gradient(circle, white, white);
		cursor: pointer;
	}

}

/**************
* Section 6
**************/

#section6 {
	padding: 160px 0;

	.title {
		margin: 75px 0;

		h2 {
			font-size: 72px;
			font-weight: 800;
			color: $black;
			margin-left: 220px;
		}
	}

	.cardArea {
		.cardTop {
			width: 100%;
			height: auto;
			background: $white ;
			border: 3px solid $green ;
			padding: 32px;
			position: relative;
			z-index: 3;
			transition: all .3s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:hover {
				transform: translate(-20px, -20px);
				transition: all .3s;
			}

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
				color: $black;
			}

			p {
				font-size: 18px;
				line-height: 22px;
				font-weight: 300;
				margin-bottom: 30px;
				color: $black;
			}


			.cardButton {
				a {
					position: relative;
					padding: 11px 24px;
					color: rgba($green , 0.8);
					border: 2px solid rgba($green , 0.8);
					display: inline-block;

					&::after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						background: rgba($green , 0.8);
						transition: all .30s;
					}

					&:hover::after {
						transition: all .30s;
						width: 100%;

					}

					&:hover {
						color: #fff;
						transition: all .30s;
					}

					span {
						position: relative;
						z-index: 4;
						font-size: 16px;
						line-height: 19px;
						font-weight: 800;
					}
				}


			}
		}

		.cardBottom {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: $white;
			border: 3px dashed $green ;
			padding: 32px;

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
			}

			p {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 30px;
			}
		}
	}
}

/**************
* Section 7
**************/

// #section7 {
// 	padding: 108px 0 0 0;
// }

/**************
* Section 8
**************/

#section8 {

	.title {
		margin: 75px 0;

		h2 {
			font-size: 72px;
			font-weight: 800;
			color: $black;
		}
	}

	.line {
		left: -64px;
	}

	.line-2 {
		margin-top: 58px;
	}

	.cardArea {
		margin: 0 16px;
		max-width: 472px;

		.cardTop {
			width: 100%;
			height: auto;
			padding: 32px;
			position: relative;
			z-index: 3;
			transition: all .3s;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&:hover {
				transform: translate(-20px, -20px);
				transition: all .3s;
			}

			h2 {
				font-size: 34px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
				color: $black;
			}

			p {
				font-size: 18px;
				line-height: 22px;
				font-weight: 300;
				margin-bottom: 10px;
				color: $black;
			}

			span {
				font-size: 112px;
				font-weight: 800;
				line-height: 80px;
			}

			.cardButton {
				a {
					position: relative;
					padding: 11px 24px;
					display: inline-block;

					&::after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						transition: all .30s;
					}

					&:hover::after {
						transition: all .30s;
						width: 100%;

					}

					&:hover {
						color: #fff;
						transition: all .30s;
					}

					span {
						position: relative;
						z-index: 4;
						font-size: 16px;
						line-height: 19px;
						font-weight: 800;
					}
				}
			}
		}

		.cardBottom {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: $white;
			padding: 32px;

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
			}

			p {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 30px;
			}
		}

		&.cardColor-1 {
			.cardTop {
				background: $blue-light;
				border: 3px solid $blue;

				.cardButton {
					a {
						color: rgba($blue, 0.8);
						border: 2px solid rgba($blue, 0.8);

						&::after {
							background: rgba($blue, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $blue;
			}
		}

		&.cardColor-2 {
			.cardTop {
				background: $green-light;
				border: 3px solid $green;

				.cardButton {
					a {
						color: rgba($green, 0.8);
						border: 2px solid rgba($green, 0.8);

						&::after {
							background: rgba($green, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $green;
			}
		}

		&.cardColor-3 {
			.cardTop {
				background: $red-light;
				border: 3px solid $red;

				.cardButton {
					a {
						color: rgba($red, 0.8);
						border: 2px solid rgba($red, 0.8);

						&::after {
							background: rgba($red, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $red;
			}
		}


	}
}

/**************
 * Section 9
 **************/

#section9 {
	padding-bottom: 160px;
	margin-top: 130px;

	.title {
		margin: 75px 0;

		h2 {
			font-size: 72px;
			font-weight: 800;
			color: $black;
		}
	}

	.cardArea {
		max-width: 320px;

		.cardTop {
			width: 100%;
			height: 100%;
			padding: 32px;
			position: relative;
			z-index: 3;
			display: flex;
			flex-direction: column;
			transform: translate(-20px, -20px);


			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 36px;
				color: $black;
			}

			p {
				font-size: 18px;
				line-height: 24px;
				font-weight: 300;
				margin-bottom: 10px;
				color: $black;
			}

			b {
				font-size: 25px;
				font-weight: 800;

			}

			b::before {
				content: " ";
				position: relative;
				top: 0;
				left: 0;
				margin: auto 6px auto 0;
				width: 18px;
				height: 3px;
				display: inline-block;
				background: #000;

			}

			span {
				font-size: 112px;
				font-weight: 800;
				line-height: 80px;
			}

			.cardButton {
				a {
					position: relative;
					padding: 11px 24px;
					display: inline-block;

					&::after {
						position: absolute;
						content: "";
						top: 0;
						left: 0;
						width: 0;
						height: 100%;
						transition: all .30s;
					}

					&:hover::after {
						transition: all .30s;
						width: 100%;

					}

					&:hover {
						color: #fff;
						transition: all .30s;
					}

					span {
						position: relative;
						z-index: 4;
						font-size: 16px;
						line-height: 19px;
						font-weight: 800;
					}
				}
			}
		}

		.cardBottom {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			background: $white;
			padding: 32px;

			h2 {
				font-size: 39px;
				line-height: 44px;
				font-weight: 800;
				margin-bottom: 8px;
			}

			p {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
				margin-bottom: 30px;
			}
		}

		&.cardColor-1 {
			.cardTop {
				background: $white;
				border: 3px solid $blue;

				.cardButton {
					a {
						color: rgba($blue, 0.8);
						border: 2px solid rgba($blue, 0.8);

						&::after {
							background: rgba($blue, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $blue;
			}
		}

		&.cardColor-2 {
			.cardTop {
				background: $white;
				border: 3px solid $green;

				.cardButton {
					a {
						color: rgba($green, 0.8);
						border: 2px solid rgba($green, 0.8);

						&::after {
							background: rgba($green, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $green;
			}
		}

		&.cardColor-3 {
			.cardTop {
				background: $white;
				border: 3px solid $red;

				.cardButton {
					a {
						color: rgba($red, 0.8);
						border: 2px solid rgba($red, 0.8);

						&::after {
							background: rgba($red, 0.8);
						}

						&:hover {
							color: #fff;
							transition: all .30s;
						}
					}
				}
			}

			.cardBottom {
				background: $white;
				border: 3px dashed $red;
			}
		}


	}
}

/**************
 * Footer
 **************/

@import "./footer";

.footerBottom {

	.footerIntrested {
		height: 100%;

		&::before {
			content: " ";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			background: $green-light-4;
			z-index: -2;
		}

		h3 {
			color: $black;
			font-size: 42px;
			line-height: 44px;
			font-weight: 800;
			margin-bottom: 8px;
		}
	}

	.left {
		svg {
			max-width: 500px;
		}
	}

	.right {
		.contact-bg {
			position: relative;
			width: 328px;

			&::before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 0;
				transition: height 0.4s ease 1.6s;
				background: $blue;
				z-index: -2;
			}

		}

		.joiningTeam {
			height: 272px;
			max-width: 316px;

			h3 {
				font-size: 39px;
				line-height: 44px;
				padding: 40px 50px;
			}
		}

		.contact {

			a {
				font-size: 20px;
				line-height: 23px;
				font-weight: 300;
			}

			p {
				font-size: 20px;
				line-height: 28px;
				font-weight: 300;
			}
		}

		.socialMedia {
			display: flex;
			align-items: center;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 50px;
				height: 50px;
				min-width: 50px;
				border: 2px solid $white;
				border-radius: 50%;
			}
		}

		.footer_right_bottom {
			position: relative;
			margin-left: 300px;

			.line {
				top: -40px;
				left: 60px;
			}



			&::before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				width: 0%;
				height: 100%;
				background: $green-light-4;
				z-index: -2;
			}
		}
	}


	.footerLine {
		height: 100%;
		z-index: 3;

		.line1 {

			height: 190px;
			width: 4px;
			background: $black;
			top: -50px;
			left: 68px;
			display: block;
		}

		.cvButton {
			top: -42px;
			right: -420px;
			z-index: 5;

			a {
				width: 370px;
				height: 100px;
				position: relative;
				padding: 11px 24px;
				display: inline-block;
				background: $white;
				transition: all .30s;
				z-index: 2;
				position: relative;

				&::before {
					content: " ";
					top: 0;
					width: 0;
					position: absolute;
					transition: all .30s;
					left: 0;
					height: 100%;
				}

				&:hover::before {
					content: " ";
					color: $white;
					transition: all .30s;
					width: 370px;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					z-index: -1;
					background: #2A2A2A;
				}

				&:hover {
					transform: translate(-16px, -16px);

					span {
						font-size: 29px;
						line-height: 34px;
						font-weight: 800;
						color: $white  !important;
						transition: color .30s;
					}
				}

				span {
					font-size: 29px;
					line-height: 34px;
					font-weight: 800;
					color: $black;
					transition: color .30s;
				}
			}

			.bottom {
				background: transparent;
				border: 3px dashed $green;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
			}
		}

		.line2 {

			height: 4px;
			width: 27%;
			background: $black;
			bottom: 110px;
			left: 68px;
			display: block;
		}

		.line3 {

			height: 4px;
			width: 40px;
			background: $black;
			bottom: 12px;
			right: -3px;
			display: block;
			transform: rotate(38deg);
		}
	}
}


footer.active {
	.footerBottom {
		.footerIntrested::before {
			animation: footerIntrested 0.4s ease 1.2s both;
		}

		.contact-bg::before {
			animation: contactbg 0.4s ease 0.8s both;
		}

		.footer_right_bottom::before {
			animation: footer_right_bottom 0.4s ease 1.6s both;
		}

		@keyframes footerIntrested {
			0% {
				height: 0;
			}

			100% {
				height: calc(100% + 254px);
			}
		}

		@keyframes footer_right_bottom {
			0% {
				width: 0;
			}

			100% {
				width: 100%;
			}
		}

		@keyframes contactbg {
			0% {
				height: 0;
			}

			100% {
				height: 100%;
			}
		}

	}
}


/**************
* Küp svg
**************/

.cupeAreaSection3 {
	top: 250px;
	left: 140px;

	.cupe-2 {
		transform: translate(-40px, 40px);
	}
}

.cupeAreaSection8 {
	top: 50px;
	right: 180px;

	.cupe-2 {
		transform: translate(-40px, 40px);
	}
}

@media (min-width: 1200px) and (max-width: 1399px) {
	.cupeAreaSection8 {
		top: 10px;
		right: 0px;
	}

	.cupeAreaSection3 {
		top: 250px;
		left: 0px;

	}

	.sec5-6-wrapper .leftArea .line .line-1 .line-1-1 {
		width: 235px;
	}
}

@media (min-width: 1200px) and (max-width: 1600px) {
	.sec5-6-wrapper .leftArea .line .line-1 .line-1-1 {
		width: 235px;
	}

	#section5 .carouselButton {
		padding-left: 70px !important;
	}


}

@media (min-width: 1400px) and (max-width: 2000px) {
	.cupeAreaSection8 {
		top: 10px;
		right: 20px;

		.cupe-2 {
			transform: translate(-40px, 40px);
		}

		#section5 .carouselButton {
			padding-left: 130px !important;
		}
	}

	.cupeAreaSection3 {
		top: 250px;
		left: 80px;
	}
}


/*************
* Responsive
**************/

@media (min-width: 1200px) and (max-width: 1399px) {
	.footerBottom .footerLine .line2 {
		left: 68px;
	}

	#section5 {
		.carouselButton {
			padding-top: 970px;
		}
	}
}

@media (min-width: 992px) and (max-width: 1199.98px) {
	#section1 .section1Row {
		margin-right: 60px !important;
	}

	#section1 span.line2 {
		width: calc(100% - 390px);
	}

	#section2 .section2Row1 {
		margin-left: 60px !important;
	}

	#section2 .cardArea-1 {
		transform: translateY(-90px);
		margin-left: 20px;
	}

	#section2 .cardArea-2 {
		transform: translate(0px, -90px);
		margin-left: 30px;
		margin-right: 20px;
	}

	#section2 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	#section4 {
		padding: 0 220px 0 196px;
	}

	#section5 .carouselButton {
		padding-top: 1010px;
		padding-left: 0px !important;
	}

	.sec5-6-wrapper .leftArea .line .line-1 .line-1-1 {
		width: 200px;
	}

	.sec5-6-wrapper .leftArea {
		width: 200px;
	}

	.sec5-6-wrapper .leftArea .leftColor {
		width: 200px;
	}

	#section6 .title {
		margin: 30px 0;
	}

	#section6 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	.cupeAreaSection8 {
		top: 10px;
		right: -135px;
		z-index: -2;
	}


	#section9 .cardArea {
		max-width: max-content;
	}

	.footerBottom .footerLine .cvButton a {
		width: 290px;


		&:hover::before {
			width: 290px;
		}


	}

	.footerBottom .footerLine .cvButton {
		right: -330px;
	}

	.footerBottom .right .footer_right_bottom {
		margin-left: 300px;
	}


}

@media (min-width: 768px) and (max-width: 991.98px) {
	#section1 .section1Row {
		margin-right: 60px !important;
	}

	#section1 span.line {
		width: calc(100% - 590px);
	}

	#section1 span.line2 {
		width: calc(100% - 350px);
		right: 142px;
	}

	#section1 h2 span {
		font-size: 64px;
	}

	#section1 span.line .linejr-1 {
		height: 300px;
	}

	#section2 .section2Row1 {
		margin-left: 60px !important;
	}

	#section2 .cardArea-1 {
		transform: translateY(-90px);
		margin-left: 20px;
	}

	#section2 .cardArea-2 {
		transform: translate(0px, -90px);
		margin-left: 30px;
		margin-right: 20px;
	}

	#section2 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	#section3 .line2 {
		width: 50%;
		right: 155px;
	}

	#section4 {
		padding: 0 140px 0 180px;
	}

	.sec5-6-wrapper .leftArea .leftColor {
		width: 180px;
	}

	.sec5-6-wrapper .leftArea {
		width: 180px;
	}

	#section5 .carouselButton {
		padding-top: 1450px;
		padding-left: 70px !important;
	}

	.sec5-6-wrapper .leftArea .line .line-1 {
		height: 67%
	}

	#section6 {
		transform: translateY(80px);
	}

	#section6 .title {
		margin: 30px 0;
	}

	#section6 .title h2 {
		margin-left: 0;
		text-align: center;
	}

	#section6 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}


	.cupeAreaSection8 {
		top: 10px;
		right: -135px;
		z-index: -2;
	}

	.leftLineButton {
		z-index: 4;
	}


	#section9 .cardArea {
		max-width: max-content;
	}
}

@media (min-width: 576px) and (max-width: 767.98px) {
	#section1 .section1Row {
		margin-right: 30px !important;
	}

	#section1 span.line {
		width: calc(100% - 360px);
	}

	#section1 span.line2 {
		width: calc(100% - 260px);
		right: 112px;
	}

	#section1 h2 {
		padding-left: 16px;
	}

	#section1 h2 span {
		font-size: 32px;
	}

	#section1 span.line .linejr-1 {
		height: 245px;
	}

	#section1 .backAnimationRight {
		width: 250px !important;
	}

	.section1Middle {
		min-height: 150px !important;
	}

	#section2 .backColor .backAnimationLeft {
		width: 250px;
	}

	#section2 .backColor .backAnimationLeft {
		top: -150px;
	}

	#section2 .section2Row1 {
		margin-left: 30px !important;
	}

	#section2 .cardArea-1 {
		transform: translateY(0px);
		margin: 20px;
	}

	#section2 .cardArea-2 {
		transform: translate(0px, 0px);
		margin: 20px;
	}

	#section2 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	#section3 .line2 {
		width: 52%;
		right: 135px;
	}

	#section4 {
		padding: 0 120px 0 130px;
	}

	#section4 .sectionTitle .title h2 .h2title {
		font-size: 48px;
	}



	.sec5-6-wrapper .leftArea .leftColor {
		width: 180px;
	}

	.sec5-6-wrapper .leftArea {
		width: 180px;
	}


	#section5 .carouselButton {
		padding-top: 1450px;
		padding-left: 70px !important;
	}

	#section6 {
		transform: translateY(80px);
	}


	.leftLineButton {
		z-index: 4;
	}

	.sec5-6-wrapper .leftArea .line .line-1 {
		height: 64%
	}


	#section6 .title {
		margin: 30px 0;
	}

	#section6 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	#section6 .title h2 {
		margin-left: 0;
		text-align: center;
	}


	.cupeAreaSection8 {
		top: 10px;
		right: -135px;
		z-index: -2;
	}


	#section9 .cardArea {
		max-width: max-content;
	}

	#section9 .title h2 {
		font-size: 48px;
	}

	/************
	* Animation
	************/


	@keyframes backAnimationRight {

		0% {
			height: 0;
		}

		100% {
			height: 150px;
		}

	}

	@keyframes backAnimationLeft {

		0% {
			height: 0;
		}

		100% {
			height: 150px;
		}
	}
}


@media (max-width: 575.98px) {
	#section1 .section1Row {
		margin-right: 0px !important;
	}

	#section1 h2 {
		padding-left: 16px;
	}

	#section1 h2 span {
		font-size: 32px;
	}


	#section1 .backAnimationRight {
		width: 200px !important;
	}

	.section1Middle {
		min-height: 150px !important;
	}

	#section2 .backColor .backAnimationLeft {
		width: 200px;
	}

	#section2 .backColor .backAnimationLeft {
		top: -150px;
	}

	#section2 .section2Row1 {
		margin-left: 0px !important;
	}

	#section2 .cardArea-1 {
		transform: translateY(0px);
		margin: 20px;
	}

	#section2 .cardArea-2 {
		transform: translate(0px, 0px);
		margin: 20px;
	}

	#section2 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	.leftLineButton {
		position: relative !important;
		transform: translate(0, 0) !important;
		display: flex;
		justify-content: center;
		z-index: 4;
	}


	#section4 {
		padding: 0;
	}

	#section4 .sectionTitle .title h2 .h2title {
		font-size: 48px;
	}

	#section4 .sectionTitle .title p {
		font-size: 15px;
	}

	#section5 .title h2 {
		font-size: 48px;
	}

	#section5 .carouselButton {
		padding-top: 0px;
		padding-left: 0px !important;
		margin-top: 40px;
	}

	#section6 {
		padding-top: 150px;
	}

	#section6 .title {
		margin: 30px 0;
	}

	#section6 .title h2 {
		margin-left: 0;
		text-align: center;
	}


	#section6 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}


	#section8 .title h2 {
		font-size: 48px;
	}

	#section8 .cardArea .cardTop:hover {
		transform: translate(-20px, -20px);
	}

	#section9 {
		margin-top: 0;
	}

	#section9 .cardArea {
		max-width: max-content;
	}

	#section9 .title h2 {
		font-size: 48px;
	}

	/************
	* Animation
	************/


	@keyframes backAnimationRight {

		0% {
			height: 0;
		}

		100% {
			height: 150px;
		}

	}

	@keyframes backAnimationLeft {

		0% {
			height: 0;
		}

		100% {
			height: 150px;
		}
	}
}
